%link{rel: 'import', href: '../shared.html'}
%polymer-element{name: 'waiting-page', noscript: ''}
  %template
    %link{rel: 'stylesheet', href: 'waiting-page.css'}
    %div
      %span Waiting for questions...
