!!! 5
%html{lang: 'en'}
  %head
    %meta{name: 'charset', content: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Untitled
    %link{rel: 'stylesheet', href: 'styles/index.css'}
  %body
    %script{src: 'scripts/require.js', 'data-main' => 'scripts/index'}
